[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"

[dev-packages]
black = "*"
isort = "*"
ruff = "*"
flake8 = "*"

[requires]
python_version = "3.11"
