[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==2.1.1"
djangorestframework = "*"
psycopg = "==3.1.18"
psycopg2-binary = "*"
psycopg2 = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
